DJANGO_SECRET_KEY=
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DB_NAME=file_sharing
DB_USER=app
DB_PASSWORD=change-me
ANON_TOKEN=
ANON_SUPPORT_TOKEN=
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
